---
---

@import "{{ site.theme }}";

p {
  text-align: justify;
  margin-bottom: 1em;
  padding: 0 1em;
}

@media (max-width: 600px) {
  p {
    text-align: left;
    padding: 0 1em;
    line-height: 1.6;
  }
}

.site-header p {
    display: none !important; /* Hide the default description text */
}

.site-footer {
    display: none !important;
}

.markdown-body a.coauthor-link,
a.coauthor-link,
.markdown-body a.coauthor-link:visited,
a.coauthor-link:visited {
  color: #000 !important;
  text-decoration: none !important;
  border-bottom: none !important;  /* some themes use this as underline */
  box-shadow: none !important;     /* some themes fake underlines this way */
}

.markdown-body a.coauthor-link:hover,
a.coauthor-link:hover,
.markdown-body a.coauthor-link:focus,
a.coauthor-link:focus {
  text-decoration: underline !important; /* optional */
}
